{% extends "userprofile/base.html"%} {% block content %}

<form method="get">
  {{myFilter.form}}
</form>
<h5 class="text-center"><b>Volunteer Area Database</b></h5>
<table class="table table-borderless">
  <thead class="border-buttom font-weight-bold">
    <tr>
      <td>Volunteer Area Id</td>
      <td>Volunteer Area Name</td>
      <td>Department</td>
      
      <td>
        <a href="{% url 'area_insert' %}" class="btn btn-outline-success">
          <i class="fas fa-plus"></i> Add New
        </a>
      </td>
    </tr>
  </thead>
  <tbody>
    {% for area in area_list %}
      <tr>
        <td>{{area.id}}</td>
        <td>{{area.volunteerareaname}}</td>
        <td>{{area.department}}</td>
        
        <td>
          <a href="{% url 'area_update' area.id%}" class="btn text-secondary px-0">
            <i class="far fa-edit fa-lg"></i>
          </a>
          <form action="{% url 'area_delete' area.id %}" method="post" class="d-inline">
            {%csrf_token%}
            <button type="submit" class="btn">
              <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock content%}
