{% extends 'core/base.html' %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'core/images/style.css' %}">

<!--<figure class="image is-128x128"> 
    <img src="{% static 'core/images/images4.jpg' %}"  >
</figure>
-->


<body id="bg" style="background-image: url('{% static 'core/images/team.jpeg'%}');">


 

    
    <div class="box" id='box' style="background-image: url('{% static 'core/images/image.jpeg'%}');">
        <h1 class="title has-text-light ">Welcome to Xvisys</h1>
        <h2 class="subtitle has-text-light">A Volunteer Management System For Public Charter Schools</h2>
    </div>

</body>

<!-- 

<header class="header header-inverse h-fullscreen pb-80" style="background-color: #31b8f5">
    <div class="container has-text-centered">
        <div class="row h-full">
            <div class="container">
                <h1 class="title"><strong>Welcome to Xvisys</strong> </h1>
                <h2 class="subtitle"> A Volunteer Tracker</h2>
            </div>
        </div>
    </div>

<div class="twp-video-background">
    <div class="twp-video-foreground">
        <iframe width="1160" height="655"  src="https://www.youtube.com/embed/zaPo86cfmDQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=zaPo86cfmDQ&mute=1" title="YouTube video player" frameborder="0" allowfullscreen allow="autoplay"></iframe>
    </div>
    <div class="twp-video-layer"></div>
</div>

    
</header>
    



<section class="hero is-small is-primary is-light">
    
    <div class="hero-body">
    <div class="twp-video-background">
        <div class="twp-video-foreground">
            <iframe width="1120" height="350"  src="https://www.youtube.com/embed/zaPo86cfmDQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=zaPo86cfmDQ&mute=1" title="YouTube video player" frameborder="0" allowfullscreen allow="autoplay"></iframe>
        </div>
        <div class="twp-video-layer"></div>
    </div>
</section>


        
<footer class="sticky-footer">
    <div class="content has-text-centered">
        <p><strong>Xvisys</strong> by Abhishek and Binayak</p>
        Copyright (c) 2021
    </div>
</footer>
-->


{% endblock %}

